.performance-container {
    flex: 1;
    display: flex;
    overflow: scroll;
}
.performance-container  ul {
    list-style: none;
}

.performance-container  li {
    height: 0px;
    min-width: 250px;
    box-sizing: border-box;
    padding: 40px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: #1B2438;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.performance-container  ul li h3 {
    color: #ffffff;
}

